<html>
    <head>
        <title>Smoelenboek</title>
    </head>
    <body>
        <div>
            <h1><a href="">Hallo daar!</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Meld je nu aan!</a></h2>
            <p>Ben jij ook zo een geile aandachtshoer?</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Doe ook mee met de tyfushype</a></h2>
            <p>Meld je dan gauw aan voor smoelenboek.nl</p>
    </body>
</html>
